.container {
    width: 65%;
    margin: 0 auto;
}
.top-info {
    background-color: #493F3A;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 20px;
}
.top-info h1 {
    color: #fff;
}
.bottom-info {
    background-color: #888888;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top-img {
    border-width: 1px;
    border-color: #fff;
    padding: 30px;
}
img {
    border-radius: 50%;
}
h2 {
    color: #4F3A2F; 
}
.edu {
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.skills {
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.work {
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.skills:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    border-color: #493F3A;
    border-radius: 10px;
  }
.work:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    border-color: #493F3A;
  }
.edu:hover {
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
border-color: #493F3A;
}

ul  {
    list-style: square inside
}
footer {
    text-align: center;
}

